<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav secondary-nav navbar-right homepage">
    <% if session["current_user"] %>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="username"><strong><%=session["username"] %></strong></span>
     <a href="/songs/new_song" class="btn btn-default add-song-button"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Add song</a>
    </div>
    <a class="navbar-brand" href="/homepage"><img alt="brand"src="skateboard_brand.png"></a>
    <% else %>
    <a href="/" class="btn btn-default"></a>
    <% end %>
  </div>
</div>

<% @songs.each do |song| %>

<div class="container-fluid song-container">
	<div class="song">
		<h3> <a href="/songs/<%= song.id %>"><%= song.title.capitalize %></a> <small><%= song.author.capitalize %></small> </h3>
		<a href=  "<%= song.url %>">Link to Video </a>
     <a href="/songs/delete" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
	</div>

</div>
<% end %>
