<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav secondary-nav navbar-right homepage">
    <% if session["current_user"] %>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="username"><strong><%=session["username"] %></strong></span>
     <a href="/songs/new_song" class="btn btn-default add-song-button"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Add song</a>
    </div>
    <a class="navbar-brand" href="/homepage"><img alt="brand"src="skateboard_brand.png"></a>
    <a href="/logout" class="btn btn-default navbar-btn left-button">Logout</a>
    <% else %>
    <a href="/" class="btn btn-default"></a>
    <% end %>
  </div>
</div>

<% @songs.each do |song| %>

<div class="container-fluid song-container">
  <div class="row">
  	<div class=".col-md-12 song-columns">
  		<div class="font-title"><h3> <a href="/songs/<%= song.id %>" class="video-link"><%= song.title.capitalize %></a></h3><small><em><%= song.author.capitalize %></em></small>
      </div>
      <div class="">
      <a href="<%= song.url %>"><small class="video-link">Link to Video</small></a>
      </div>
      <a href="/songs/delete" class="btn btn-default trash"><span class="glyphicon glyphicon-trash"></span></a>
  	</div>
  </div>
</div>
<% end %>
